

#MainPic{
	display: block;
 	float:left;
	width: 100%;
	height: 32em;
	margin-bottom: .2em;
}
#slider-wrapper{
	display: block;
 	float:left;
	width: 100%;
	margin-bottom: .2em;
}

#slider{
	z-index: 2;
}

#TimeAndPlace{
	position: relative;
	float: left;
	display:block;
	width: 100%;
	height: 15.5em;
}

 #Schedule, #Location{
	height: 100%;
}

#Schedule{
	display: block;
	float:left;
	font-style: italic;
	font-size: .9em;
	width: 57em;
	text-align: center;
}

#SchedulePaddingDiv{
	display: block;
	float:left;
	width: 100%;
	margin-top: 3.5em;
}

#Schedule h3{
	margin-top: 0;
	margin-bottom: .8em;
	text-decoration: underline;
}

#Schedule a{
	display: block;
	font-weight: bold;
	margin-bottom: .2em;
}

#Schedule div.ScheduleItemContainer{
	display: block;
	float: left;
	margin-right: 3.2em;
}

div.Indent{
	display: block;
	float: left;
	margin-left: 11.5em;;
}

#Schedule table{
	margin: .8em 0 .8em 1.8em;
}

#Location{
	text-align: center;
	margin-left: 51.4em;
}

#map-canvas{
	height: 14.5em;
	width: 14.5em;
	float: right;
	margin: .5em;
}

#GLocation{
	margin-top: 3em;
	float: left;
	width: 13em;
	text-decoration: underline;
}
#GLocation a{
	margin-bottom: .25em;
	display: block;
}

.float-left{
	display: block;
	float:left;
}