body{
	background-color: #202021;
}

#MainPanel{
	background-color: #0066EE;
	color: E0E0EE;
	display: block;
	margin: auto;
	overflow: auto;
	width: 800px;
}


#ContentWrapper{
	display: block;
	width:100%;
	height: 1000px;
}

footer{

}